# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: cloud-build-notifiers/v1
kind: SMTPNotifier
metadata:
  name: example-smtp-notifier
spec:
  notification:
    filter: build.status == Build.Status.SUCCESS
    delivery:
      server: smtp.gmail.com
      port: '587'
      sender: notifierstest@gmail.com
      from: notifierstest@gmail.com
      recipients:
      - anitawu@google.com
      - notifierstest@gmail.com
      password:
        secretRef: smtp-notifiers-gmail-password
  secrets:
  - name: smtp-notifiers-gmail-password
    value: projects/anita-test-265821/secrets/smtp-notifiers-gmail-password/versions/latest
